body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    background-image: url(../img/coding.png);
    background-size: cover;
    /* resizes the bg img to cover the entire container */
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.overlay:before {
    content: " ";
    z-index: 1;
    display: block;
    position: absolute;
    height: 300px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.overlay * {
    z-index: 2;
    /* Makes elements display above overlay */
}

.header-text {
    text-align: center;
    margin: 0 0 25px;
    padding: 0 350px;
}

button {
    color: aliceblue;
    border: 1px solid grey;
    background-color: rgb(36, 35, 35);
    padding: 10px 15px;
}

h2 {
    color: rgb(36, 35, 35);
}

.white-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px;
}

.columns2 {
    columns: 2;
    column-gap: 20px;
    text-align: center;
    width: 50%;
}

.grey-container {
    background-color: rgb(36, 35, 35);
    display: flex;
    justify-content: center;
}

.little-boxes {
    background-color: aliceblue;
    flex-basis: 19%;
    margin: 30px 10px;
}

.little-img {
    text-align: center;
}

.little-content {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    padding: 10px 0;
}

.columns1 {
    width: 50%;
}

.contact-about {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: aliceblue;
    text-align: center;
}

.blue {
    background-color: rgb(5, 124, 145);
    flex-basis: 50%;
    padding: 50px;
}

.grey {
    background-color: rgb(36, 35, 35);
    flex-basis: 50%;
    padding: 50px;
}

.grey h2, .blue h2 {
    color: aliceblue;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align: center;
}

.black {
    background-color: black;
    flex-basis: 50%;
    padding: 15px;
}

a {
    text-decoration: none;
    color: salmon
}

a:hover {
    text-decoration-line: underline;
    color: rgb(241, 49, 28);
}